@page
@model IndexModel
@{
    ViewData["Title"] = "Application Test";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a application test...</p>
    <div class="text-center">
    <h1>Go to:</h1>
    <h4 class="display-4"><a href="/Cars">CARS - CRUD Operations </a></h4>
</div>
</div>
